body {
    width: 100%;

    background-color: #fefcfb;
}

/* HERO ANIMATION */
.hero {
    display: grid;
    position: relative;
    grid-template-columns: 100vw;
    grid-template-rows: 70vh;
    place-items: center;
    overflow: hidden;
    animation: clip-hero-anim 2s cubic-bezier(0.29, 0.8, 0.8, 0.98);
    will-change: clip-path;
}

.hero__bg,
.hero__cnt {
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero__bg {
    display: grid;
    position: relative;
    z-index: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    animation: fade-in 1.5s linear;
    will-change: opacity;
}

.hero__bg::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    top: -10%;
    right: -10%;
    bottom: -10%;
    left: -10%;
    background: rgba(0, 0, 0, 0.3);
    background-blend-mode: screen;
}

.hero__bg picture {
    display: flex;
    height: 70vh;
    width: 100vw;
    animation: scaling-hero-anim 6s 0.5s cubic-bezier(0, 0.71, 0.4, 0.97) forwards;
    will-change: transform;
}

.hero__bg img {
    display: block;
    object-fit: cover;
    object-position: 77% 50%;
    height: auto;
    width: 100%;
}

.hero__cnt {
    display: grid;
    position: relative;
    place-items: center;
    z-index: 10;
    color: #FFF;
    font-size: 2.5vw;
    text-transform: uppercase;
    opacity: 0;
    animation: fade-in 1.5s 2s linear forwards;
}

.hero__cnt h1 {
    margin-bottom: 0;
}

.grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaling-hero-anim {
    from {
        transform: scale(1.25);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes clip-hero-anim {
    from {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* FINE HERO ANIMATION */

.hero-gallery {
    height: 100vh;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7217480742296919) 7%, rgba(0, 0, 0, 0.6125043767507004) 31%, rgba(0, 0, 0, 0.41082370448179273) 58%, rgba(0, 0, 0, 0.1643251050420168) 91%), url(/assets/img/FOTO/ETIOPIA/etiopia-bg-min.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    animation: mix-hero-anim 3s cubic-bezier(0.29, 0.8, 0.8, 1);
    will-change: clip-path;
}

@media screen and (max-width:500px) {

    .hero-gallery {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7217480742296919) 7%, rgba(0, 0, 0, 0.6125043767507004) 31%, rgba(0, 0, 0, 0.41082370448179273) 58%, rgba(0, 0, 0, 0.1643251050420168) 91%),
            url(/assets/img/FOTO/ETIOPIA/etiopia-bg-mobile.webp);
    }

}

@keyframes mix-hero-anim {
    0% {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        transform: scale(1.25);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: scale(1.0);
    }
}


.hero-gallery h1 {
    position: fixed;

    font-weight: bold;
}

.title {
    justify-content: center;

    position: fixed;
}

.title h1 {
    color: lightgray;
    text-shadow: black;
}

.title-gallery {
    background-color: #fefcfb;

    position: relative;
    z-index: 2;
}

.title-gallery h3 {

    font-size: var(--fs-900);
    font-weight: 600;

    font-family: 'Inter', sans-serif;
}

.title-gallery p {

    font-size: var(--fs-600);
}

.fr-8 {
    padding: 100px 50px 0px 50px;
}

.text-title-top {
    width: 80%;

}

/* TABLET  */

@media screen and (max-width: 1100px) {

    .title-gallery h3 {
        text-align: center;
    }

    .title-gallery p {
        text-align: center;
    }

    .fr-8 {
        padding: 5%;

        display: flex;
        align-content: center;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {

    .title-gallery h3 {
        text-align: center;
    }

    .title-gallery p {
        text-align: center;
    }

    .fr-8 {
        padding: 5%;

        display: flex;
        align-content: center;
        justify-content: center;
    }
}

/* ------------- GALLERY GRID ------------- */

.panel {
    /* height: auto; */
    height: 100%;
    width: 100%;
    /* background: var(--white-background); */
    background-color: hsl(24, 72%, 99%);
    position: relative;
    z-index: 2;
    color: #000;
}

.gallery-title {
    text-align: center;
    padding: 100px 0;

}

.gallery-container {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em; */
    /* display: grid;
    gap: 2.5rem; */

    display: grid;
    grid-auto-rows: 14rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    width: 100%;

    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(18em, 1fr)); */

    padding: 5% 50px;
}



@media screen and (minwidth: 50em) {

    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* .gallery-card {
    position: relative;

    width: 18em;
    height: 250px;

    background-size: cover;
    background-position: center;

    border-radius: 30px;

    transition: all 0.4s ease-in-out;

    pointer-events: auto;
} */

.gallery-card {
    position: relative;

    width: 18em;
    height: 250px;

    background-size: cover;
    background-position: center;

    border-radius: 30px;

    transition: all 0.4s ease-in-out;

}

.gallery-card:hover {
    cursor: pointer;
    /* transform: scale(1.1) translateZ(0); */
    opacity: 85%;
    /* filter: ; */
}

.gallery-card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    text-align: center;
}


.gallery-card h3 {
    position: relative;
    z-index: 1;
}

/* 
.gallery-container:hover .gallery-card:not(:hover) {
    filter: saturate(0.3) brightness(65%);

} */

.mcard {
    /* width: 290px; */
    padding: 1.8rem;
    position: relative;

    border: 2px solid #88888954;

    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;

    overflow: visible;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}


.card-details {
    color: rgb(255, 255, 255);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 45%;
    padding: .5rem 1rem;

    background-color: var(--my-orange);
    color: #fff;

    font-size: 1rem;
    border: none;
    border-radius: 1rem;

    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 4px 8px 36px 8px rgba(0, 0, 0, 1);
}

/*Hover*/
.mcard:hover {
    border-color: var(--my-orange);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 4px 8px 36px 0 rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.mcard:hover .card-button {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
}


.mcard:nth-child(3) {
    background-position: top;
}


.mcard .card-details {
    place-content: end flex-start;

}



/* Solo grandi schermi */
@media screen and (min-width: 1100px) {

    .grid-col-span-2 {
        grid-column: span 2;
    }

    .grid-row-span-2 {
        grid-row: span 2;
    }

    .grid-row-span-4 {
        grid-row: span 4;
    }

    .mcard:nth-child(2) {
        grid-column-start: 4;
        grid-row: 1 / span 3;
        background-position-x: 70%;
    }

    .span-2 {
        grid-column: auto / span 2;
    }

    .row-2 {
        grid-row-end: span 2;
    }

}

/* TABLET */

@media screen and (max-width: 1100px) {

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }


}

/* MOBILE */

@media screen and (max-width: 450px) {

    .gallery-container {
        padding: 5% 30px;

        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 12rem;
    }

}